.site-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.25rem 1.2rem;
  opacity: 0;
  animation: fade-in 0.8s ease 0.3s forwards;

  @media (min-width: 640px) {
    padding: 2rem 2.5rem;
  }
}

.logo {
  align-items: center;
  display: flex;
  flex: 1;
  letter-spacing: 0.04em;
  line-height: 0.8em;
  position: relative;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  color: var(--silver-dim);
  text-decoration: none;

  @media (min-width: 640px) {
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    font-size: 0.8rem;
  }
}

.site-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-family: var(--font-mono);
  font-size: 0.7rem;
  gap: 1.25rem;
  margin: auto 0;
}
