*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
  color: var(--silver);
  background: var(--void);
  -webkit-font-smoothing: antialiased;
}
